node_modules/
.expo/
dist/
web-build/
*.log
.DS_Store
*.bkp
backup-personaggi-*/
upgrade-personaggi*/
*.hold
screens/old-homescreen.js
screens/ServiceScreen.js
*:Zone.Identifier

upgrade-personaggi*.zip*

# Pacchetti e backup locali degli aggiornamenti
backup-*/
upgrade-*/
upgrade-*.zip*
beni-spv-*.zip*
*.bkp-*
